.login__bg{
    background-image: url(https://images.unsplash.com/photo-1604881991720-f91add269bed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.login__bg {
    background-image: url(https://images.unsplash.com/photo-1604881991720-f91add269bed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    height: 92vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.showButton{
    margin-top: 10px;
    background-color: lightgray;
    padding: 0px 5px 0px 5px;
    border: 1px solid black;
}
@media (max-width:770px) {
    .login__bg {
        height: 30vh;
        height: 30vh;
        margin-bottom: 30px;
    }
}