.s1_mainContainer {
    width: 100%;
    height: 100vh;
}

.s1-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.content {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}